---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Features Page">
    <h2>Features page</h2>

    <div x-data="{ expanded: false }">
        <button @click="expanded = ! expanded">Toggle Content</button>
  
        <p id="foo" x-show="expanded" x-collapse>
          Lorem ipsum
        </p>
      </div>
</BaseLayout>