---
//layouts
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
---

<BaseLayout title={pageTitle}>
	<h2>My Awesome blog titles</h2>
	<h1 class="text-3xl font-bold underline text-emerald-600">
		Hello world!
	  </h1>
</BaseLayout>
